<% include ../layouts/main %>

<% block content %>
<div class="jumbotron">
    <h1 class="display-4">Welcome to E-Commerce Deck</h1>
    <p class="lead">Discover amazing products at great prices.</p>
    <hr class="my-4">
    <p>Explore our latest collection.</p>
    <a class="btn btn-primary btn-lg" href="/products" role="button">Shop Now</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Free Shipping</h5>
                <p class="card-text">Free shipping on orders over $50.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Easy Returns</h5>
                <p class="card-text">30-day return policy.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Secure Payment</h5>
                <p class="card-text">Your payment information is secure.</p>
            </div>
        </div>
    </div>
</div>
<% endblock %>