<% include ../layouts/main %>

<% block content %>
<h1>Our Products</h1>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Product 1">
            <div class="card-body">
                <h5 class="card-title">Product 1</h5>
                <p class="card-text">Description of product 1.</p>
                <p class="card-text"><strong>$29.99</strong></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Product 2">
            <div class="card-body">
                <h5 class="card-title">Product 2</h5>
                <p class="card-text">Description of product 2.</p>
                <p class="card-text"><strong>$39.99</strong></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Product 3">
            <div class="card-body">
                <h5 class="card-title">Product 3</h5>
                <p class="card-text">Description of product 3.</p>
                <p class="card-text"><strong>$49.99</strong></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
</div>
<% endblock %>